<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.duke.ece651.team7.attendanceServer.Mapper.AttendanceMapper">
  <resultMap id="BaseResultMap" type="edu.duke.ece651.team7.attendanceServer.POJO.Attendance">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="sectionId" jdbcType="VARCHAR" property="sectionid" />
    <result column="netId" jdbcType="VARCHAR" property="netid" />
    <result column="attendStatus" jdbcType="INTEGER" property="attendstatus" />
    <result column="classDate" jdbcType="BIGINT" property="classdate" />
  </resultMap>
</mapper>